################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_DEV/Source/Drivers/FscGabi/sdv
/_DEV/Source/Drivers/FscGabi/Universal
/_DEV/Source/Drivers/GabiAcpi/sdv
/_DEV/Source/Drivers/GabiAcpi/Universal/Debug
/_DEV/Source/Drivers/GabiAcpi/Universal/x64
/_DEV/Source/Drivers/Universal/x64
/_DEV/Source/DriversUniversal/x64/Release
/_DEV/Source/_Build/.vs/Drv_Build/v17
/_DEV/Source/Drivers/SysmonCharos/Driver/Sources
/_DEV/Source/_Build/.vs/Drv_Build/FileContentIndex
/_DEV/Source/Drivers/GabiAcpiTest
/_DEV/Source/Drivers/HWMD2811/Sources/HWMD2811Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2811/Sources
/_DEV/Source/Drivers/HWMD2804/Sources/HWMD2804Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2804/Sources
/_DEV/Source/Drivers/HWMD2764/Sources/HWMD2764Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2764/Sources
/_DEV/Source/Drivers/HWMD2724/Sources/HWMD2724Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2724/Sources
/_DEV/Source/Drivers/HWMD2721/Sources/HWMD2721Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2721/Sources
/_DEV/Source/Drivers/HWMD2703/Sources/HWMD2703Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2703/Sources
/_DEV/Source/Drivers/HWMD2594/Sources/HWMD2594Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2594/Sources
/_DEV/Source/Drivers/HWMD2581/Sources/HWMD2581Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2581/Sources
/_DEV/Source/Drivers/SCH5627AMD/Driver/Sources/.vs/SCH5627AMD/FileContentIndex/read.lock
/_DEV/Source/Drivers/HWMD3444/Sources/HWMD3444Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3444/Sources
/_DEV/Source/Drivers/HWMD3432/Sources/HWMD3432Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3432/Sources
/_DEV/Source/Drivers/HWMD3431/Sources/HWMD3431Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3431/Sources
/_DEV/Source/Drivers/HWMD3430/Sources/HWMD3430Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3430/Sources
/_DEV/Source/Drivers/HWMD3427/Sources/HWMD3427Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3427/Sources
/_DEV/Source/Drivers/HWMD3422/Sources/HWMD3422Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3422/Sources
/_DEV/Source/Drivers/HWMD3417/Sources/HWMD3417Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3417/Sources
/_DEV/Source/Drivers/HWMD3413/Sources/HWMD3413Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3413/Sources
/_DEV/Source/Drivers/HWMD3403/Sources/HWMD3403Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3403/Sources
/_DEV/Source/Drivers/SmbIch/Driver/Sources/.vs/SmbIch/v17/ipch/AutoPCH/d4d7c89b24d80777
/_DEV/Source/Drivers/SCH5627AMD/Driver/Sources
/_DEV/Source/Drivers/HWMD3402/Sources/HWMD3402Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3402/Sources
/_DEV/Source/Drivers/HWMD3401/Sources/HWMD3401Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3401/Sources
/_DEV/Source/Drivers/HWMD3400/Sources/HWMD3400Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3400/Sources
/_DEV/Source/Drivers/HWMD3358/Sources/HWMD3358Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3358/Sources
/_DEV/Source/Drivers/HWMD3348/Sources/HWMD3348Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3348/Sources
/_DEV/Source/Drivers/HWMD3288/Sources/HWMD3288Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3288/Sources
/_DEV/Source/Drivers/HWMD3204/Sources/HWMD3204Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3204/Sources
/_DEV/Source/Drivers/HWMD3183/Sources
/_DEV/Source/Drivers/HWMD3173/Sources/HWMD3173Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3173/Sources
/_DEV/Source/Drivers/HWMD3167/Sources/HWMD3167Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3167/Sources
/_DEV/Source/Drivers/HWMD3128/Sources/HWMD3128Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3128/Sources
/_DEV/Source/Drivers/HWMD3118/Sources/HWMD3118Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3118/Sources
/_DEV/Source/Drivers/HWMD3091/Sources/HWMD3091Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3091/Sources
/_DEV/Source/Drivers/HWMD3076/Sources/HWMD3076Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3076/Sources
/_DEV/Source/Drivers/HWMD3071/Sources/HWMD3071Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3071/Sources
/_DEV/Source/Drivers/HWMD3067/Sources/HWMD3067Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3067/Sources
/_DEV/Source/Drivers/HWMD3064/Sources/HWMD3064Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3064/Sources
/_DEV/Source/Drivers/HWMD3062/Sources/HWMD3062Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3062/Sources
/_DEV/Source/Drivers/HWMD2984/Sources/HWMD2984Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2984/Sources
/_DEV/Source/Drivers/HWMD2981/Sources/HWMD2981Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2981/Sources
/_DEV/Source/Drivers/HWMD2824/Sources/HWMD2824Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2824/Sources
/_DEV/Source/Drivers/FscTime/Driver/Sources/x64/Debug/FscTime.vcxproj.FileListAbsolute.txt
/_DEV/Source/Drivers/FscTime/Driver/Sources/x64/Debug/FscTime.log
/_DEV/Source/Drivers/FscTime/Driver/Sources/x64/Debug/FscTime.Build.CppClean.log
/_DEV/Source/Drivers/FscTime/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/FscTime/Driver/Sources/RCa09788
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/v17/Browse.VC.db
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/v17/.suo
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/v17
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/FileContentIndex/read.lock
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/FileContentIndex/bf374502-4cdd-4df1-a028-d403b8025dd8.vsidx
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/FileContentIndex
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime
/_DEV/Source/Drivers/FscTime/Driver/Sources
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/x64/Debug/FscEfDmi.vcxproj.FileListAbsolute.txt
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/x64/Debug/FscEfDmi.log
/_DEV/Source/Drivers/HWMD3188/Sources
/_DEV/Source/Drivers/HWMD3061/Sources/HWMD3061Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3061/Sources
/_DEV/Source/Drivers/HWMD3003/Sources/HWMD3003Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3003/Sources
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/x64/Debug/FscEfDmi.Build.CppClean.log
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi/v17/Browse.VC.db
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi/v17/.suo
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi/v17
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi/FileContentIndex/read.lock
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi/FileContentIndex/70a11839-d24a-4a2c-b837-2f3bcadef233.vsidx
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi/FileContentIndex
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources/.vs/FscEfDmi
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/x64/Debug/FscCpuid.vcxproj.FileListAbsolute.txt
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/x64/Debug/FscCpuid.log
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/x64/Debug/FscCpuid.Build.CppClean.log
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/.vs/FscCpuid/v17/Browse.VC.db
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/.vs/FscCpuid/v17
/_DEV/Source/Drivers/FscCmos/Driver/Sources/x64/Debug/FscCmos.vcxproj.FileListAbsolute.txt
/_DEV/Source/Drivers/FscCmos/Driver/Sources/x64/Debug/FscCmos.log
/_DEV/Source/Drivers/FscCmos/Driver/Sources/x64/Debug/FscCmos.Build.CppClean.log
/_DEV/Source/Drivers/FscCmos/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/v17/Browse.VC.db
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/v17/.suo
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/v17
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/FileContentIndex/read.lock
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/FileContentIndex/0011d477-33fd-4e6a-b738-f9e11c67e335.vsidx
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/FileContentIndex
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos
/_DEV/Source/Drivers/FscCmos/Driver/Sources
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM/v17/Browse.VC.db
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM/v17/.suo
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM/v17
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM/FileContentIndex/read.lock
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM/FileContentIndex/54555889-a5bc-44e2-82c7-10a31bd5f272.vsidx
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM/FileContentIndex
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH/e16733c307796a59/INTERPRETERPARSE.ipch
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH/e16733c307796a59
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH/8e2b269e2f57093/FSCGABI.ipch
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH/8e2b269e2f57093
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH/8aaeeb16953268df/IOCTL.ipch
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH/8aaeeb16953268df
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17/ipch/AutoPCH
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17
/_DEV/Source/Drivers/.vs/Gabi_Universal/FileContentIndex/read.lock
/_DEV/Source/Drivers/.vs/Gabi_Universal/FileContentIndex/ba42862f-193e-412d-9a83-f9b56639fddc.vsidx
/_DEV/Source/Drivers/.vs/Gabi_Universal/FileContentIndex
/_DEV/Source/Drivers/.vs/Gabi_Universal
/_DEV/Source/Drivers/.vs/Gabi/v17/Solution.VC.db-wal
/_DEV/Source/Drivers/.vs/Gabi/v17/Solution.VC.db-shm
/_DEV/Source/Drivers/.vs/Gabi/v17/Solution.VC.db
/_DEV/Source/Drivers/.vs/Gabi/v17/Browse.VC.db
/_DEV/Source/Drivers/.vs/Gabi/v17/.suo
/_DEV/Source/Drivers/.vs/Gabi/v17
/_DEV/Source/Drivers/.vs/Gabi/FileContentIndex/read.lock
/_DEV/Source/Drivers/.vs/Gabi/FileContentIndex/35370f53-05eb-4b8f-9f80-dac302e5cb6e.vsidx
/_DEV/Source/Drivers/.vs/Gabi/FileContentIndex
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/GABI_ACPI_DRIVER/v17/workspaceFileList.bin
/.vs/GABI_ACPI_DRIVER/v17/Browse.VC.opendb
/.vs/GABI_ACPI_DRIVER/v17/Browse.VC.db-wal
/.vs/GABI_ACPI_DRIVER/v17/Browse.VC.db-shm
/.vs/GABI_ACPI_DRIVER/v17/Browse.VC.db
/.vs/GABI_ACPI_DRIVER/v17/.suo
/.vs/GABI_ACPI_DRIVER/v17
/.vs/GABI_ACPI_DRIVER/FileContentIndex/read.lock
/.vs/GABI_ACPI_DRIVER/FileContentIndex/ee55a240-74c4-4969-b183-b25909df2d1c.vsidx
/.vs/GABI_ACPI_DRIVER/FileContentIndex/cf7b6195-242e-446c-bd08-d80c8f3ef824.vsidx
/.vs/GABI_ACPI_DRIVER/FileContentIndex/371b5d55-868e-4987-990d-2c25c2fba19a.vsidx
/.vs/GABI_ACPI_DRIVER/FileContentIndex/306b7738-dac4-4e25-a252-2afd4cdb21df.vsidx
/.vs/GABI_ACPI_DRIVER/FileContentIndex
/.vs/GABI_ACPI_DRIVER
/.vs
/_DEV/Source/Drivers/SmbIch/Driver/Sources
