################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_DEV/Source/Drivers/FscGabi/sdv
/_DEV/Source/Drivers/FscGabi/Universal
/_DEV/Source/Drivers/GabiAcpi/sdv
/_DEV/Source/Drivers/GabiAcpi/Universal/Debug
/_DEV/Source/Drivers/GabiAcpi/Universal/x64
/_DEV/Source/Drivers/Universal/x64
/_DEV/Source/DriversUniversal/x64/Release
/.vs/GABI_ACPI_DRIVER
/_DEV/.vs/_DEV
/_DEV/Source/Drivers/.vs/Gabi
/_DEV/Source/Drivers/.vs/Gabi_Universal/CopilotIndices/17.14.939.21063
/_DEV/Source/Drivers/.vs/Gabi_Universal/FileContentIndex
/_DEV/Source/Drivers/.vs/Gabi_Universal/v16/ipch/AutoPCH
/_DEV/Source/Drivers/.vs/Gabi_Universal/v16
/_DEV/Source/Drivers/.vs/Gabi_Universal/v17
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/.vs/D3003OEM
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/D3003OEM/Driver/Sources/D3003OEM.vcxproj.filters
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/FileContentIndex
/_DEV/Source/Drivers/FscCmos/Driver/Sources/.vs/FscCmos/v17
/_DEV/Source/Drivers/FscCmos/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/FscCmos/Driver/Sources/FscCmos.vcxproj.filters
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/.vs/FscCpuid/v17
/_DEV/Source/Drivers/FscCpuid/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/FscEfDmi/Driver/Sources
/_DEV/Source/Drivers/FscGabi/.vs/FscGabi/copilot-chat/f4082ccb/sessions
/_DEV/Source/Drivers/FscGabi/.vs/FscGabi
/_DEV/Source/Drivers/FscGabi
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/FileContentIndex
/_DEV/Source/Drivers/FscTime/Driver/Sources/.vs/FscTime/v17
/_DEV/Source/Drivers/FscTime/Driver/Sources/x64/Debug
/_DEV/Source/Drivers/GabiAcpi
/_DEV/Source/Drivers/GabiAcpiTest
/_DEV/Source/Drivers/HWMD2581/Sources
/_DEV/Source/Drivers/HWMD2581/Sources/HWMD2581Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2594/Sources
/_DEV/Source/Drivers/HWMD2594/Sources/HWMD2594Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2703/Sources
/_DEV/Source/Drivers/HWMD2703/Sources/HWMD2703Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2721/Sources
/_DEV/Source/Drivers/HWMD2721/Sources/HWMD2721Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2724/Sources
/_DEV/Source/Drivers/HWMD2724/Sources/HWMD2724Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2764/Sources
/_DEV/Source/Drivers/HWMD2764/Sources/HWMD2764Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2804/Sources
/_DEV/Source/Drivers/HWMD2804/Sources/HWMD2804Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2811/Sources
/_DEV/Source/Drivers/HWMD2811/Sources/HWMD2811Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2824/Sources
/_DEV/Source/Drivers/HWMD2824/Sources/HWMD2824Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2981/Sources
/_DEV/Source/Drivers/HWMD2981/Sources/HWMD2981Support.vcxproj.user
/_DEV/Source/Drivers/HWMD2984/Sources
/_DEV/Source/Drivers/HWMD2984/Sources/HWMD2984Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3003/Sources
/_DEV/Source/Drivers/HWMD3003/Sources/HWMD3003Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3061/Sources
/_DEV/Source/Drivers/HWMD3061/Sources/HWMD3061Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3062/Sources
/_DEV/Source/Drivers/HWMD3062/Sources/HWMD3062Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3064/Sources
/_DEV/Source/Drivers/HWMD3064/Sources/HWMD3064Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3067/Sources
/_DEV/Source/Drivers/HWMD3067/Sources/HWMD3067Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3071/Sources
/_DEV/Source/Drivers/HWMD3071/Sources/HWMD3071Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3076/Sources
/_DEV/Source/Drivers/HWMD3076/Sources/HWMD3076Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3091/Sources
/_DEV/Source/Drivers/HWMD3091/Sources/HWMD3091Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3118/Sources
/_DEV/Source/Drivers/HWMD3118/Sources/HWMD3118Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3128/Sources
/_DEV/Source/Drivers/HWMD3128/Sources/HWMD3128Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3167/Sources
/_DEV/Source/Drivers/HWMD3167/Sources/HWMD3167Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3173/Sources
/_DEV/Source/Drivers/HWMD3173/Sources/HWMD3173Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3183/Sources
/_DEV/Source/Drivers/HWMD3183/Sources/HWMD3183Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3188/Sources
/_DEV/Source/Drivers/HWMD3188/Sources/HWMD3188Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3204/Sources
/_DEV/Source/Drivers/HWMD3204/Sources/HWMD3204Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3288/Sources
/_DEV/Source/Drivers/HWMD3288/Sources/HWMD3288Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3348/Sources
/_DEV/Source/Drivers/HWMD3348/Sources/HWMD3348Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3358/Sources
/_DEV/Source/Drivers/HWMD3358/Sources/HWMD3358Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3400/Sources
/_DEV/Source/Drivers/HWMD3400/Sources/HWMD3400Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3401/Sources
/_DEV/Source/Drivers/HWMD3401/Sources/HWMD3401Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3402/Sources
/_DEV/Source/Drivers/HWMD3402/Sources/HWMD3402Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3403/Sources
/_DEV/Source/Drivers/HWMD3403/Sources/HWMD3403Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3413/Sources
/_DEV/Source/Drivers/HWMD3413/Sources/HWMD3413Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3417/Sources
/_DEV/Source/Drivers/HWMD3417/Sources/HWMD3417Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3422/Sources
/_DEV/Source/Drivers/HWMD3422/Sources/HWMD3422Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3427/Sources
/_DEV/Source/Drivers/HWMD3427/Sources/HWMD3427Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3430/Sources
/_DEV/Source/Drivers/HWMD3430/Sources/HWMD3430Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3431/Sources
/_DEV/Source/Drivers/HWMD3431/Sources/HWMD3431Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3432/Sources
/_DEV/Source/Drivers/HWMD3432/Sources/HWMD3432Support.vcxproj.user
/_DEV/Source/Drivers/HWMD3444/Sources
/_DEV/Source/Drivers/HWMD3444/Sources/HWMD3444Support.vcxproj.user
/_DEV/Source/Drivers/SmbIch/Driver/Sources/x64
/_DEV/Source/Drivers/SysmonCharos/Driver/Sources
/_DEV/Source/Drivers/SmbIch/Driver/Sources/Release/SmbIch.tlog
/_DEV/Source/Drivers/SmbIch/Driver/Sources/Release
/_DEV/Source/Drivers/SmbIch/Driver/Sources/Debug
/_DEV/Source/Drivers/SmbIch/Driver/Sources/.vs/SmbIch/FileContentIndex
/_DEV/Source/Drivers/SmbIch/Driver/Sources/.vs/SmbIch/v16
/_DEV/Source/Drivers/SmbIch/Driver/Sources/.vs/SmbIch/v17
/_DEV/Source/Drivers/SCH5627AMD/Driver/Sources/.vs/SCH5627AMD/FileContentIndex
/_DEV/Source/Drivers/SCH5627AMD/Driver/Sources/.vs/SCH5627AMD/v17
/_DEV/Source/Drivers/SCH5627AMD/Driver/Sources/x64/Debug
/_DEV/Source/_Build/.vs/Drv_Build/FileContentIndex
/_DEV/Source/_Build/.vs/Drv_Build/v17
/.vs
/_DEV/.vs/ProjectSettings.json
/_DEV/.vs
/_DEV/Source/Drivers/FscTime/Driver/Sources/RCa09788
/_DEV/Source/Drivers/SmbIch/Driver/Sources/RCa04200
